<div class="flex flex-col space-y-3">
    <p class="text-gray-500">Upload and manage candidate CVs</p>

    <div class="border bg-white rounded-xl border-gray-200 p-6">
        <h2 class="text-xl font-semibold mb-4">Upload CVs</h2>
        <div
            class="border-2 border-dashed border-gray-200 rounded-xl flex flex-col items-center justify-center py-6 px-4 bg-gray-50">
            <svg class="text-gray-500" xmlns="http://www.w3.org/2000/svg" height="48px" viewBox="0 -960 960 960" width="48px" fill="currentColor">
                <path
                    d="M220-160q-24 0-42-18t-18-42v-113q0-12.75 8.68-21.38 8.67-8.62 21.5-8.62 12.82 0 21.32 8.62 8.5 8.63 8.5 21.38v113h520v-113q0-12.75 8.68-21.38 8.67-8.62 21.5-8.62 12.82 0 21.32 8.62 8.5 8.63 8.5 21.38v113q0 24-18 42t-42 18H220Zm230-524-99 99q-8.8 9-20.9 8.5-12.1-.5-21.49-9.5-8.61-9-8.61-21.5t9-21.5l150-150q5-5 10.13-7 5.14-2 11-2 5.87 0 10.87 2 5 2 10 7l151 151q9 9 9 21t-8.61 21q-9.39 9-21.89 9t-21.5-9l-99-98v341q0 12.75-8.68 21.37-8.67 8.63-21.5 8.63-12.82 0-21.32-8.63-8.5-8.62-8.5-21.37v-341Z" />
            </svg>
            <p class="font-medium text-gray-700 mb-1 mt-2">Drag & Drop CVs</p>
            <p class="text-gray-400 text-xs mb-4">Upload up to 20 files (PDF, DOC, DOCX, max 10MB each)</p>
            <button
                class="flex items-center px-4 py-2 border cursor-pointer rounded-lg bg-white text-gray-700 hover:bg-gray-200 transition-all border-gray-200 shadow-2xl text-sm font-medium">Select
                Files</button>
        </div>
    </div>
</div>